.container {
  max-width: 95%;
  width: 1320px;
  margin: 0 auto;
  padding: 0;
}

.container-full {
  max-width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.align-top {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.start {
  justify-content: start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

@media only screen and (max-width: 578px) {
  .container {
    width: 99%;
    max-width: 99%;
  }
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-weight: 400;
  list-style: 1.5;
  background-color: #fff;
  max-width: 1520px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

section {
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: #000;
  font-weight: normal;
  margin: 0 0 0 0;
}

section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  display: block;
}
nav li {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.4s;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%);
}

.header__items {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  margin: 0 auto;
}

.sticky {
  box-shadow: 0px -5px 5px -5px rgba(86, 89, 91, 0.6) inset;
}
.sticky .header__items {
  box-shadow: 0px -5px 5px -5px rgba(73, 76, 79, 0.6) inset;
}

.logo {
  width: 116px;
  min-width: 106px;
}
.logo img {
  width: 100%;
}

.nav {
  padding-top: 30px;
}

.nav__list {
  display: flex;
  top: 0;
  bottom: 0;
}

.nav__item {
  position: relative;
  color: #000;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  padding: 0 10px;
  padding-bottom: 30px;
  transition: all 0.4s;
  cursor: pointer;
}
.nav__item i {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.nav__item:last-child {
  padding-top: 4px;
}

.nav__item:hover::after {
  content: "";
  width: 30PX;
  height: 2px;
  position: absolute;
  left: 25%;
  top: 45px;
  background-color: #000;
}

.icons {
  display: flex;
  align-items: center;
}
.icons .bx {
  padding: 0 5px;
  font-size: 32px;
  cursor: pointer;
}
.icons .menu__btn {
  display: none;
}

.home__list {
  position: absolute;
  top: 47px;
  left: -180px;
  width: 520px;
  height: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 35px;
  border-top: 2px solid #000;
  box-shadow: 0px 0.5px 1px 0.5px #363636;
  display: none;
  z-index: 100;
}
.home__list .home__item {
  padding: 10px 10px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}
.home__list .home__link, .home__list .shop__link {
  letter-spacing: 1px;
}

.nav__item:hover .home__list {
  display: flex;
  z-index: 100;
}

.shop__box {
  width: 670px;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  top: 47px;
  left: -300px;
  padding: 10px 35px;
  border-top: 2px solid #000;
  box-shadow: 0px 0.5px 1px 0.5px #363636;
  background-color: #fff;
  display: none;
}

.nav__item:hover .shop__box {
  display: flex;
  z-index: 100;
}

.shop__list {
  padding: 0 15px;
}

.shop__category {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
  border-bottom: 1px solid #b6abab;
}

.shop__item {
  padding: 10px 5px;
  font-size: 16px;
}

.page__list {
  width: 320px;
  height: 150px;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 47px;
  left: -120px;
  padding: 10px 15px;
  border-top: 2px solid #000;
  box-shadow: 0px 0.5px 1px 0.5px #363636;
  display: none;
}

.nav__item:hover .page__list {
  display: flex;
  z-index: 100;
}

.page__item {
  padding: 10px 5px;
  padding-right: 20px;
  font-size: 16px;
}

.element__list {
  width: 150px;
  flex-direction: column;
  position: absolute;
  top: 47px;
  left: -10px;
  padding: 10px 15px;
  border-top: 2px solid #000;
  box-shadow: 0px 0.5px 1px 0.5px #363636;
  display: none;
}

.nav__item:hover .element__list {
  display: flex;
  z-index: 100;
}

.element__item {
  padding: 10px 10px;
  padding-right: 20px;
  font-size: 16px;
}

.post__list {
  width: 150px;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: -100%;
  padding: 10px 15px;
  border-top: 1px solid #000;
  box-shadow: 0px 0.5px 1px 0px #363636;
  z-index: 11;
  margin-left: 70px;
  display: none;
}

.element__item:hover .post__list {
  display: flex;
  z-index: 100;
}

.post__item {
  padding: 10px 10px;
  font-size: 16px;
}

.nav__item li:hover {
  background-color: #000;
  border-radius: 5px;
}

.nav__item li:hover a {
  color: #fff;
}

.blog__list {
  width: 420px;
  height: 270px;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 47px;
  left: -10px;
  padding: 20px 15px;
  border-top: 2px solid #000;
  box-shadow: 0px 0.5px 1px 0.5px #363636;
  display: none;
}

.nav__item:hover .blog__list {
  display: flex;
  z-index: 100;
}

.blog__item {
  padding: 15px 10px;
  padding-right: 10px;
  font-size: 16px;
}

.nav__item ul, .nav__item .shop__box {
  z-index: 10;
  background-color: #fff;
}

.price__text {
  color: #000;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.heart {
  position: relative;
}
.heart span {
  position: absolute;
  left: 70%;
  top: -10px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 3px 7px;
  background-color: #000;
  border-radius: 100%;
}

.cart {
  position: relative;
  margin-right: 10px;
}
.cart span {
  position: absolute;
  left: 70%;
  top: -10px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 3px 7px;
  background-color: #000;
  border-radius: 100%;
}

@media only screen and (max-width: 768px) {
  .header__items {
    height: 60px;
  }
  .logo {
    max-width: 60px;
  }
  .nav {
    display: none;
  }
  .icons .menu__btn {
    display: block;
  }
}
@media only screen and (max-width: 578px) {
  header {
    width: 100%;
    left: 0%;
    padding: 0 10px;
    transform: translateX(0%);
  }
  .container {
    width: 100%;
  }
  .header__items {
    width: 100%;
  }
  .icons .bx {
    font-size: 22px;
  }
  .logo {
    width: 80px;
    min-width: 80px;
  }
}
.section-menu {
  position: fixed;
  top: 60px;
  overflow: scroll;
  z-index: 10000;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  padding: 0px 10px;
  display: none;
  border-top: 2px solid #000;
}

.menu__items {
  cursor: pointer;
}

.menu__item-title, .menu__item {
  padding: 10px;
  border-bottom: 1px solid #666666;
  padding: 10px 10px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

.link-menu {
  padding: 10px 10px;
  padding-left: 45px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

.shop__box-menu .menu__item-title {
  padding-left: 45px;
}

.menu__item-title i {
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  color: #666666;
}

.menu__item-box {
  display: none;
}

.show {
  display: block;
}

.searchs {
  position: relative;
  margin-top: 80px;
  z-index: 100;
}

.categories {
  position: relative;
  cursor: pointer;
}

.category__list {
  display: none;
}
.category__list ul {
  position: absolute;
  z-index: 500;
  background-color: #f9f9f9;
  box-shadow: 3px 5px 20px 0 #e7e3e3;
}
.category__list ul li {
  list-style: none;
  width: 290px;
  padding: 15px 20px;
  vertical-align: middle;
  border-bottom: 1px solid #e6e0e0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #494848;
}
.category__list ul li i {
  margin-right: 10px;
  font-size: 25px;
}

.show-category {
  display: block;
}

.category__title {
  width: 290px;
  height: 55px;
  padding: 10px 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  align-items: center;
  margin-right: 15px;
}
.category__title p {
  letter-spacing: 2px;
  font-size: 25px;
}
.category__title img {
  height: 18px;
  margin-right: 10px;
  display: inline;
}
.category__title i {
  padding: 0;
  margin: 0;
  font-size: 34px;
  font-weight: 400;
  display: none;
}

.search {
  width: calc(100% - 305px);
  height: 55px;
  align-items: center;
  padding-left: 20px;
  border: 1px solid #d2cbcb;
  border-right: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search span {
  margin-right: 5px;
}

.search__input {
  width: calc(100% - 220px);
  height: 35px;
  font-size: 18px;
  outline: none;
}

.search__select {
  width: 150px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.search__btn {
  width: 55px;
  height: 100%;
  border: none;
  font-size: 35px;
  color: #fff;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: -15px;
  background-color: #000;
}

.show-category-none {
  display: none;
}

@media only screen and (max-width: 768px) {
  .searchs {
    display: none;
  }
}
#hero {
  margin-top: 50px;
  background-color: #F9F9F9;
  display: block;
}

.sledes {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 20px;
  z-index: 50;
  display: block;
}

.slide__text {
  width: 100%;
  padding-top: 70px;
  position: absolute;
  padding-left: 25px;
  z-index: 10;
}

.slide__subtitle {
  font-family: "Roboto", sans-serif;
  color: #666666;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.slide__title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 20px;
}

.slide__desc {
  width: 35%;
  color: #666666;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 17px;
}

.slide__btn {
  border: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: transparent;
}
.slide__btn::after {
  content: "";
  width: 20%;
  height: 3px;
  display: block;
  position: relative;
  left: 0;
  top: 7px;
  background-color: #000;
  transition: all 0.4s;
}

.suond__btn:hover::after {
  width: 100%;
}

.slide__imgs {
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: 0;
}

.bg__img {
  min-height: 450px;
  transform: scale(1.1);
}

.slide__img {
  width: 450px;
  height: 450px;
  position: absolute;
  left: 51%;
}

.slide__action {
  position: relative;
  left: 50%;
  bottom: 45px;
  top: 480px;
}
.slide__action span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #666666;
}
.slide__action .slide__active {
  background-color: #000;
}

.slide1 {
  width: 100%;
  position: relative;
  display: block;
}

.slide2 {
  width: 100%;
  position: relative;
  display: none;
}

.slide3 {
  width: 100%;
  position: relative;
  display: none;
}

.slide__subtitle {
  opacity: 0;
  -webkit-animation: slide-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.6s;
}

.slide__title {
  opacity: 0;
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.8s;
}

.slide__desc {
  opacity: 0;
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}

.slide__btn {
  animation-delay: 1.2s;
  opacity: 0;
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.4s;
}

.slide__img {
  animation-delay: 1.2s;
  opacity: 0;
  -webkit-animation: slide-img 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-img 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.6s;
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-img {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  #hero {
    margin-top: 90px;
  }
  .slide__text {
    padding-top: 5px;
  }
  .slide__subtitle {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .slide__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .slide__desc {
    width: 60%;
  }
  .slide__btn {
    font-size: 17px;
  }
  .slide__img {
    width: 300px;
    height: 300px;
  }
  .bg__img {
    min-height: 250px;
  }
  .slide__action {
    top: 280px;
  }
}
@media only screen and (max-width: 578px) {
  #hero {
    margin-top: 90px;
  }
  .slide__text {
    padding-top: 5px;
  }
  .slide__subtitle {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .slide__title {
    font-size: 25px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .slide__desc {
    width: 60%;
    font-size: 14px;
    line-height: 18px;
  }
  .slide__btn {
    font-size: 15px;
  }
  .slide__img {
    width: 180px;
    height: 180px;
  }
  .bg__img {
    min-height: 180px;
  }
  .slide__action {
    top: 170px;
  }
  .slide__action span {
    width: 10px;
    height: 10px;
  }
}
#product {
  margin-top: 600px;
  margin-bottom: 100px;
}

.product__box {
  width: 48%;
  height: 340px;
  padding: 15px 25px;
  background-color: #F8F8F8;
  transition: all 0.4s;
}
.product__box:hover .product__img img {
  transform: scale(1.1);
}
.product__box:hover .product__subtitle::after {
  width: 130px;
}

.product__title {
  font-size: 25px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.product__subtitle {
  font-size: 20px;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 10px;
}
.product__subtitle::after {
  content: "";
  width: 30px;
  height: 3px;
  display: block;
  position: relative;
  left: 0;
  top: 7px;
  background-color: #000;
  transition: all 0.4s;
}

.product__box:first-child .product__text {
  padding-top: 20px;
  padding-left: 20px;
}
.product__box:first-child .product__img {
  margin-left: 75px;
  margin-top: 30px;
}
.product__box:first-child .product__img img {
  transition: all 0.4s;
}

.product__box:last-child .product__text {
  align-self: flex-end;
  padding-left: 50px;
  padding-bottom: 50px;
}
.product__box:last-child .product__img {
  margin-top: 10px;
}
.product__box:last-child .product__img img {
  transition: all 0.4s;
}

@media only screen and (max-width: 768px) {
  #product {
    margin-top: 340px;
    margin-bottom: 50px;
  }
  .product__box {
    width: 85%;
    height: 230px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .product__title {
    font-size: 20px;
  }
  .product__subtitle {
    font-style: 17px;
  }
  .product__img {
    width: 35%;
    float: right;
  }
  .product__box:last-child .product__text {
    padding-left: 150px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 578px) {
  .product__box {
    width: 100%;
  }
}
.futured__product-title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 25px;
}

.featured__product {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(3, 360px);
  row-gap: 25px;
  column-gap: 18px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.featured__product-box {
  position: relative;
  background-color: #F8F8F8;
  overflow-y: hidden;
  transition: all 0.4s ease;
}
.featured__product-box:hover .futured__product-price {
  display: none;
}
.featured__product-box:hover .futured__product-btn {
  opacity: 1;
  transform: translateY(-40px);
}
.featured__product-box:last-child .futured__product-img {
  margin-top: 50px;
  margin-bottom: 20px;
}
.featured__product-box:last-child .futured__product-img img {
  transform: scale(0.9);
}

.futured__product-discount {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #000;
  display: none;
}

.futured__product-img {
  padding: 0;
  margin: 0;
  text-align: center;
}
.futured__product-img img {
  width: 100%;
  max-height: 340px;
  padding: 0;
  margin: 0;
}

.futured__product-des {
  position: relative;
  transition: all 0.4s ease;
}

.futured__product-price {
  padding-left: 20px;
  margin-top: -40px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0px;
}

.futured__product-type {
  padding-left: 20px;
  color: #666666;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: -15px;
}

.futured__product-btn {
  opacity: 0;
  position: absolute;
  transform: translateY(-20px);
  font-size: 17px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  transition: all 0.5s ease;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.one {
  grid-column: 1/3;
  grid-row: 1/3;
  overflow-x: hidden;
}
.one .one-img {
  margin-top: 180px;
  margin-bottom: 240px;
  width: auto;
  height: 300px;
  transform: scale(2);
}

@media only screen and (max-width: 768px) {
  .featured__product {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    grid-template-rows: none;
    justify-content: center;
    align-items: center;
  }
  .featured__product-box {
    width: 300px;
    min-height: 360px;
  }
  .one {
    width: 300px;
    min-height: 360px;
    height: 360px;
  }
  .one .one-img {
    margin-top: 0;
    margin-bottom: 0;
    height: 280px;
  }
}
.sign {
  text-align: center;
  background-color: #F8F8F8;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.sign__title {
  color: #000;
  font-size: 30px;
  line-height: 39px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 20px;
}

.sign__des {
  color: #000;
  font-size: 15px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.sign__input {
  width: 500px;
  font-size: 16px;
  padding: 15px 10px;
  outline: none;
}

.sign__submit {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 15px 30px;
  padding-left: 40px;
  transition: all 0.4s;
  border: none;
  background-color: #000;
  border-radius: 3px;
}
.sign__submit:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .sign {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.posts {
  margin-bottom: 100px;
}

.post__title {
  font-size: 28px;
  line-height: 36px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.post__box {
  width: 30%;
  position: relative;
}
.post__box:last-child img {
  padding-top: 10px;
  margin-bottom: 10px;
  transform: scaleY(1.3);
}
.post__box:hover .post__img img {
  transform: rotate(5deg) scale(1.2);
}
.post__box:hover .post__date {
  color: #fff;
  background-color: #000;
}

.post__img {
  overflow: hidden;
}
.post__img img {
  border-radius: 8px;
  pointer-events: none;
  transition: all 0.7s;
}

.post__date {
  width: 60px;
  height: 60px;
  position: absolute;
  color: #000;
  text-align: center;
  transition: all 0.4s;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: -75px;
  margin-bottom: 5px;
  padding-top: 10px;
}
.post__date p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.post__type {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.post__des {
  color: #000;
  font-size: 22px;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .post__box {
    width: 80%;
    align-self: center;
    justify-self: center;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
footer {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #111;
}

.footer__nav {
  margin-bottom: 30px;
}
.footer__nav::after {
  content: "";
  width: 150%;
  height: 2px;
  display: block;
  margin-top: 50px;
  background-color: #666666;
}

.footer__logo {
  width: 200px;
}
.footer__logo img {
  width: 116px;
  min-width: 106px;
  margin-bottom: 10px;
}
.footer__logo p {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
}

.footer__item-title {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.footer__item-title::after {
  content: "";
  width: 60px;
  height: 4px;
  display: block;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #fff;
}

.footer__item {
  padding: 8px 0;
}
.footer__item:hover .footer__link {
  color: #fff;
}

.footer__link {
  color: #666666;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  transition: all 0.4s;
}

.footer__des {
  color: #666666;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.footer__social {
  align-items: end;
}

.footer__social-icon {
  color: #666666;
  font-size: 25px;
  padding: 0 10px;
  transition: all 0.4s;
}
.footer__social-icon:hover {
  color: #fff;
}

.footer__card-img {
  opacity: 0.5;
  padding: 0 5px;
}
.footer__card-img:hover {
  opacity: 1;
}

.up__icon {
  width: 40px;
  height: 40px;
  display: none;
  position: fixed;
  right: 25px;
  top: 650px;
  background-color: #000;
  text-align: center;
  transition: all 0.4s;
}
.up__icon svg {
  margin-top: 10px;
}

@media only screen and (max-width: 578px) {
  .footer__logo {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
  }
  .footer__item-title {
    font-size: 18px;
  }
  .footer__item-title::after {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer__social {
    margin: 0 auto;
    margin-top: 15px;
  }
  .footer__card {
    margin: 0 auto;
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */